@import "https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap";
@import "https://fonts.googleapis.com/css?family=Anton&display=swap" ;
@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";
body {
  padding: 10px;
  font-family: sans-serif;
}
h1{
  font-family: 'Anton', sans-serif;
color:#FFFFFF;
}

p{
  
  font-family: 'Raleway', sans-serif;
  color:#FFFFFF;
}
h2{
  font-family: 'Libre Baskerville', serif;
}
