
@import "https://fonts.googleapis.com/css?family=Playfair+Display&display=swap";
@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";
@import "https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap";
body {
  
 /** font-family: 'Open Sans', sans-serif;
   font-family: 'Playfair Display', serif;  
  background-color: #92B6A7;
 */
 font-family: 'Open Sans', sans-serif;

 
}

.carouselImg{
  height:40vh;
}

@media (min-width: 300px) {  
  .carouselImg{
    height:50vh;
  }
  h1{
    font-size: 25px;
  }
  .container {  
    max-width: 270px;  
  } 
  #responsive-navbar-nav .nav-link{
    display: inline;
    font-size: 12px;
  
  }
  #responsive-navbar-nav h5{
    font-size: 12px;
  }
  #responsive-navbar-nav .navbar-nav{
    padding-left:0px;
  
  }
  #responsive-navbar-nav .brandNavbar{
    width:15%;
    font-size: 12px;
    
    text-align: center;
  }
  
} 

@media (min-width: 576px) {  
  .carouselImg{
    height:50vh;
  }
  h1{
    font-size: 25px;
  }
  .container {  
    max-width: 560px;  
  } 
  #responsive-navbar-nav .nav-link{
    display: inline;
 
    font-size: 15px;
  
  }
  
  #responsive-navbar-nav h5{
    font-size: 15px;
  }
  
  
  #responsive-navbar-nav .navbar-nav{
    padding-left:0;
  
  }
  #responsive-navbar-nav .brandNavbar{
    width:15%;
    font-size: 12px;
    
    text-align: center;
  }
  
} 

@media (min-width: 768px) {  
  .carouselImg{
    height:80vh;
  }
  .container {  
    max-width: 740px;  
  } 
  h1{
    font-size: 25px;
  }
  #responsive-navbar-nav .nav-link{
    display: inline;
    font-size: 18px;
  
  }
  #responsive-navbar-nav .navbar-nav{
    display:inline-block;
  }
  #responsive-navbar-nav h5{
    font-size: 18px;
  }
  
  #responsive-navbar-nav .navbar-nav{
    padding-left:0;
  
  }
  #responsive-navbar-nav .brandNavbar{
    width:15%;
    font-size: 12px;
    margin:auto;
    text-align: center;
  }
} 
@media (min-width: 992px) {  
  .carouselImg{
    height:90vh;
  }
  .container {  
    max-width: 960px;  
  } 

  #responsive-navbar-nav .navbar-nav{
    padding-left:0;
  
  }
  #responsive-navbar-nav .brandNavbar{
    width:20%;
   
    margin:auto;
    text-align: center;
  }
} 
@media (min-width:1200px) {  
  .carouselImg{
    height:100vh;
  }
  .container {  
    max-width: 1140px;  
  } 
  #responsive-navbar-nav .navbar-nav{
    padding-left:0;
  
  }
  #responsive-navbar-nav .brandNavbar{
    width:20%;
    margin:auto;
    
    text-align: center;
  }
} 


#appContainer{
  margin-left: 0px;
  margin-right: 0px;
  margin: 0;
  padding: 0;
}
.nav-link > .active {
  border-bottom: 1px solid #333;
 
}

.nav-link{
  text-align: center;
  font-size: 20px;
  display: flex;
}
ul{
  list-style: none;
  padding-left:0;
  }

  p{
    text-align:justify;
  }
  
#navbarHome{
  opacity:0.9;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  
 
  
  width:100%;
  
  /**width: $sidebar-base-width;height: 100vh;*/
 
}

#footer{
  background-color: #F0F0F0;
  color:#212522;
}

#Rooms{
  background-color:white;
  color:#212522;
}

#AboutUs{
  /**
  background-color: #A56251;
  color:white;
  */
}
h3{
  font-family: 'Sorts Mill Goudy', serif;
}
h1{
  color: #146B3E;
  font-weight: bold;
}
h5{
  color: #A56251;
  font-weight: bold;
}
#Contact{
    /**
  background-color: #92B6A7;
  */
}
/*
h1{
  font-family: 'Anton', sans-serif;
color:#FFFFFF;
}
p{
  
  font-family: 'Raleway', sans-serif;
  color:#FFFFFF;
}
h2{
  font-family: 'Libre Baskerville', serif;
}

 let styleRoomBG = {
            backgroundColor: "#5FFF63",
            
        }

          let styleAboutUs={
        backgroundColor:"#7C5CFF"
    }
    let backgroundContact = { backgroundColor: "#CC7A37" }
*/